parameters:
    level: 9
    paths:
        - src
    excludePaths:
        - src/Support/helpers.php
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    reportUnmatchedIgnoredErrors: true
